
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
        "header header"
        "left main"
        "footer footer";
    height: 100vh;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

.header h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blueviolet;
}

.fruit-card {
    background-color: lightgrey;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin: 20px auto;
}

.image {
    width: 100%;
    height: 200px;
    background-color: grey;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
}

.info, .nutritions {
    text-align: center;
    margin-bottom: 20px;
}

.info {
    background-color: aquamarine;
    font-size: 16px;
    margin-bottom: 5px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}


.nutritions{
    background-color: pink;
    font-size: 16px;
    margin-bottom: 5px;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

.footer .copyright {
    color: white;
}