<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit App</title>
    <link rel="stylesheet" href="/web/static/styles.css">
</head>
<body>
    <div class="header">
        <h1>fruit-app</h1>
    </div>
    <div class="left">
        <h2>Тут будет список фруктов, поиск/фильтр по разным свойствам</h2>
    </div>
    <div class="main">
        <article class="fruit-card">
            <div class="image">Фото</div>
            <div class="info">
                <div class="name">Название</div>
                <div class="family">Семейство</div>
                <div class="order">Отряд</div>
                <div class="genus">Род</div>
            </div>
            <div class="nutritions">
                <div class="calories">Калории</div>
                <div class="fat">Жиры</div>
                <div class="sugar">Сахар</div>
                <div class="carbohydrates">Углеводы</div>
                <div class="protein">Белки</div>
            </div>
        </article>
    </div>
    <div class="footer">
        <div class="copyright">
            <p>
                christmas-fire <br>
                &copy; 2025 fruit-app
            </p>
        </div>
    </div>
    <script src="web//static/script.js"></script>
</body>
</html>